body{
  background-color: #333333;
}
.keyboard{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #333333;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    user-select: none;
}
.keyboard__output{
  position: fixed;
  top: 5%;
  left: 12%;
  font-size: 20px;
}

.keyboard__keys{
    text-align: center;
    margin: 0 5%;
}

.keyboard__key{
    
    position: relative;
    cursor: pointer;
    outline: none;
    width: 60px;
    height: 60px;
    font-size: x-large;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 3.5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border-radius: 5px;
    vertical-align: top;
    animation: 44s ease-in-out 0s 1 alternate;
}
.keyboard__key::-moz-focus-inner{
  border: 0;
}
.keyboard__key_pressed{
  margin-bottom: 0;
}
.keyboard__key:active{
  background-color: rgba(255,255,255,0.14);
}
.arrow_column{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  margin: 2.5px;
}
.keyboard__key_large{
    width: 85px;
}
.keyboard__key_dark{
    background-color: rgba(0,0,0,0.8);
    
}
.keyboard__key_extra-large{
    width: 130px;
}
.keyboard__key_ultra-large{
    width: 430px;
}
.keyboard__key_small-up{
  position: absolute;
width: 60px;
height: 29px;
top: 0;
left: 0;
padding: 0;
margin: 0;
}
.keyboard__key_small-down{
  position: absolute;
width: 60px;
height: 29px;
bottom: 0;
padding: 0;
margin: 0;

}
.keyboard__key_togglable::after{
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: rgba(40,40,40,1);
  width: 8px;
  height: 8px;
}
.keyboard__key_active::after{
  background-color: #ffffff;
}
.keyboard__key_shiftable::before{
content: attr(top-value);
position: absolute;
left: 5px;
top: 0px;
}
.keyboard__key_shiftable-underscore::before{
  content: attr(top-value);
position: absolute;
left: 5px;
top: -10px;
}
  @keyframes pressed {
   from { background-color: rgba(0,255,0,0.4); } to { background-color: rgba(0,0,0,0.4); }
    }